/*
Use the following CSS rules to specify these families:
font-family: 'Aref Ruqaa', serif;
font-family: 'Mirza', cursive;
font-family: 'Slabo 27px', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;
*/

body {
    background: #f2eeb3;
    color: #59323C;
    font-family: 'Ubuntu', sans-serif;
}

.profile h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Aref Ruqaa", serif;
}

header.main-nav {
    background: #260126;
    color: #fff;
    font-family: Comic Sans MS;
    font-size: 15px;
    left: 0;
    /*opacity: 0.9;*/
    padding: 30px 10px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

.main-nav span {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 3px 0;
}

.main-nav span.contact-me {
    float: left;
}

.main-nav span.mobile-menu-link {
    margin-top: 12px;
}

.main-nav span.contact-me a {
    color: #fff;
    text-decoration: none;
}

header.main-nav ul {
    /*margin-right: 82px;*/
}

header.main-nav ul li {
    /*margin: 0 10px;*/
    border-bottom: 1px solid #000;
    /* cursor: pointer;*/
    padding: 10px 0;
}

header .navigation li a {
    display: inline-block;
    font-family: "Roboto Slab", serif;
    color: #59323c;
}

header .navigation li a:hover {
    background: transparent;
}

header .navigation li a:focus {
    background: transparent;
    outline: none;
}

header .navigation.nav-pills > li.active > a {
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    background-color: #793b22;
    color: #fff;
}

.slider-cont .ng-hide-add,
.slider-cont .ng-hide-remove {
    display: block!important;
}

.slider-cont {
    background: #BFAF80;
    height: 100%;
    top: 114px;
    position: fixed;
    right: -100%;
    width: 100%;
    /*overflow: hidden;*/
    -webkit-transition: 0.5s linear right;
    -moz-transition: 0.5s linear right;
    -o-transition: 0.5s linear right;
    transition: 0.5s linear right;
}

.slider-cont.slider {
    right: 0;
    -webkit-transition: 0.5s linear right;
    -moz-transition: 0.5s linear right;
    -o-transition: 0.5s linear right;
    transition: 0.5s linear right;
}


.main-cont {
    background: #f2eeb3;
    color: #979797;
    margin-top: 100px;
}

.main-cont p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

.main-cont p,
.about-content ul.skill-set {
    margin: 25px 0 0;
    text-align: left;
}

.about-content img {
    border-radius: 50%;
    box-shadow: 1px 1px 6px 1px;
    width: 150px;
}

.main-cont ul.nav > li {
    font-family: Trebuchet MS;
}

.main-cont ul.nav {
    margin-bottom: 10px;
}

.main-cont ul.nav > li a {
    color: #fff;
}

.main-cont .nav-pills > li.active > a,
.main-cont .nav-pills > li.active > a:hover,
.main-cont.nav-pills > li.active > a:focus {
    background-color: #793b22;
    color: #fff;
}

.main-cont .nav > li > a:hover,
.nav > li > a:focus {
    background-color: #793b22;
    outline: none;
}

.main-cont .panel {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid #000;
}

.main-cont .active {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}









body .animate-show.ng-hide-add,
body .animate-show.ng-hide-remove {
    display: block!important;
}

body .animate-show {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 1;
}

body .animate-show.ng-hide {
    -webkit-transition: 0s linear all;
    -moz-transition: 0s linear all;
    -o-transition: 0s linear all;
    transition: 0s linear all;
    opacity: 0;
}

.main-cont form .review-content {
    font-family: trebuchet ms;
    padding: 10px 0 10px 15px;
}

.main-cont .form-group.clearfix {
    margin-left: 15px;
}

.underline-from-left::before {
    background: #59323C;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 100%;
    transition-duration: 0.3s;
    transition-property: right;
    transition-timing-function: ease-out;
    z-index: -1;
}

.underline-from-left {
    backface-visibility: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
    overflow: hidden;
    position: relative;
    transform: translateZ(0px);
    vertical-align: middle;
}

.underline-from-left:hover::before,
.underline-from-left:focus::before,
.underline-from-left:active::before {
    right: 0;
}

.about-content {
    color: #59323C;
    padding: 40px 10px 10px 10px;
    text-align: center;
}

div[ng-view] {
    -webkit-transition: 0.8s linear all;
    -moz-transition: 0.8s linear all;
    -o-transition: 0.8s linear all;
    transition: 0.8s linear all;
}

div[ng-view].ng-enter {
    opacity: 0;
    position: absolute;
}

div[ng-view].ng-enter-active {
    opacity: 1;
}

div[ng-view].ng-leave {
    opacity: 1;
    position: absolute;
}

div[ng-view].ng-leave-active {
    opacity: 0;
}

header .navigation li.active > a {
    color: #fff;
}

header span.contact-me img {
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px #fff;
    width: 60px;
}

header span.contact-me a:focus {
    outline: none;
}

.slider-cont ul li.active {
    background: #8c695;
    border-radius: 5px;
}

.about-content ul.skill-set {
    list-style: none;
    padding: 0;
}

.about-content ul.skill-set li {
    border: 1px solid;
    display: inline-block;
    height: 100px;
    padding: 30px 20px 20px;
    vertical-align: top;
    width: 50%;
}

.about-content h2 {
    margin: 25px 0 0;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
}

.about-content > h2 {
    cursor: auto;
    display: block;
    margin: 0 0 20px;
    text-decoration: underline;
}
.about-content p > a.underline-from-left,.about-content p > a.underline-from-left:hover {
    cursor: pointer;
    color: #59323c;
    font-weight: bold;
    text-decoration: none;
}
.about-content ul.skill-set li:hover {
    background: #260126 none repeat scroll 0 0;
    border: 1px solid #260126;
    color: #fff;
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}

@keyframes myChange {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about-content .skill-cont.ng-hide-add {
    animation: 1s myChange 1;
    /*animation-fill-mode:forwards;*/
    animation-direction: reverse;
    display: block!important;
}

.about-content .skill-cont.ng-hide-remove {
    animation: 1s myChange 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}
.social-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    background: #260126;
    display: inline-block;
    color: #fff;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
}
.social-btn:hover, .social-btn:focus {
    background: #59323C;
    color: #fff;
}
.about-content .mail-link {
    font-size: 22px;
    text-align: center;
}
.btn-common {
    border: 1px solid #e74c3c;
    color: #e74c3c;
    background-color: transparent;
}
.btn-custom {
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.facebook-color {
    color: #8b9dc3;
    border-color: #8b9dc3;
}
.linkedin-color {
    color: #0075B2;
    border-color: #0075B2;
}
.btn-default:hover, .btn-default:focus {
    border: 1px solid #e74c3c;
    outline: 0;
    color: #000;
    background-color: #e74c3c;
}
.btn-default:hover, .btn-default:focus {
    color: #fff;
}
.facebook-color:hover,.facebook-color:focus {
    border: 1px solid #8b9dc3;
    background-color: #8b9dc3;
    color: #fff;
}
.linkedin-color:hover,.linkedin-color:focus {
    background-color: #0075B2;
    border: 1px solid #0075B2;
    color: #fff;
}
.about-content.contact-container p {
    font-size: 20px;
    text-align: center;
}
.about-content.contact-container ul {
     margin: 20px 0 0;
}
@media screen and (min-width: 768px) {
    .main-nav span.mobile-menu-link {
        display: none;
    }
    .main-nav span.contact-me {
        float: left;
    }
    .slider-cont {
        background: transparent none;
        bottom: 0;
        float: right;
        position: static;
        transition: none 0s ease 0s;
        width: auto;
    }
    header.main-nav ul li {
        border-bottom: medium none;
        float: left;
        padding: 0;
    }
    header .navigation li a {
        color: #F2EEB3;
    }
    .slider-cont ul li.active {
        background: #59323c;
        border-radius: 5px;
    }
    div[ng-view] {
        position: absolute;
        width: 100%;
    }
    .about-content ul.skill-set li {
        border-radius: 50px 40px 0 52px;
        display: inline-block;
        height: auto;
        margin: 20px;
        padding: 20px;
        width: auto;
    }
    .about-content ul.skill-set {
        -webkit-column-count: 3;
        /* Chrome, Safari, Opera */
        -moz-column-count: 3;
        /* Firefox */
        column-count: 3;
    }
}
