<div ng-controller="profileSummaryController" class="about-content profile-container">
    <h2> Profile Summary</h2>
        <ul>
            <li ng-repeat="summaryList in summary | limitTo:quantity">{{summaryList}}</li>
            <!-- loading rest of the data from profile summary json file -->
            <button  ng-click="hidebtn()" ng-if="showBtn" class="btn btn-default">Click to load more..</button>
            <!-- loader  -->
            <div class='loader' ng-class="{ 'ng-hide' : loader }">
                <div class='circle'></div>
                <div class='circle'></div>
                <div class='circle'></div>
                <div class='circle'></div>
                <div class='circle'></div>
            </div>
        </ul>
    <h2>Projects</h2>
        <ul ng-controller="classController" class="project-list">
        <!-- routing based on key  -->
            <li ng-repeat="project in projects"><a href="#projects/{{project.key}}" ng-click="addScalingClass()">{{project.id.title}}</a></li>
        </ul>    
</div>
